<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
                
    </head>
<body > 
    

        <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Your contact card is generated:   
                        </h1>    
                    </div>
            </section>

        <br></br>

            <section>
                <form method=POST action="{{url_for('download' ,link=link)}}">
                    <input class="input is-primary" type="text" placeholder="File name" name="filename">
                        <br><br>
                    <button class="button is-light" name="download">Download</button>
                </form>
            </section>


        <section>
            <h3> <a href = "{{url_for('download' ,link=link)}}"> Download</a></h3>
        </section>
           
        <br></br>

        <section>
            <img src="{{ url_for('download' ,link=link)}}"></img>
        </section>



  
</body>
</html>