<html>
    <head>
            <title>Contact Card </title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
            <link rel="stylesheet" href= "{{ url_for('static', filename = 'fontawesome/css/all.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <script defer src="{{ url_for('static', filename = 'fontawesome/js/all.js') }}"></script>
                
    </head>
<body > 
    
    <div id="page-container">
        <div id="content-wrap">
        <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Your contact card is generated:   
                        </h1>    
                    </div>
            </section>

        <br></br>

        <section>
            <div class="container">
                <h3 class="title is-4"> Enter Filename : </h3>
            </div>
            <br>
            <div class="container">
                <div class="field">
                    <div class="control">
                        <form method=POST action="{{url_for('download' ,link=link)}}">
                            <input class="input is-primary" type="text" placeholder="File name" name="filename" size="20">
                        <br><br>
                    <button class="button is-light" name="download">Download</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <img src="{{ url_for('download' ,link=link)}}" class="barcode"></img>
        </section> 
    </div>
    

    <section>
        <footer class="footer" id="footer">
                <div class="content has-text-centered">

                <i class = "fab fa-github"></i> <a href= "https://github.com/biraj094">Github Profile</a>
                </br>
                <i class = "fab fa-linkedin"></i> <a href= "linkedin.com/in/biraj-koirala">Connect at LinkedIn</a>
                </br>
                <a href= "https://biraj094.github.io/">biraj094.github.io</a>
                </div>
        </footer>
    </section>
    </div>
    


  
</body>
</html>