<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
                
    </head>
<body > 
    

        <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Your contact card is generated:   
                        </h1>    
                    </div>
            </section>
            

        <br></br>

        <div>
            <img src="{{ url_for('download' ,link=link)}}"></img>
            
        </div>

        <a href = "{{url_for('download' ,link=link)}}" >Download</a>


<!-- 
        <div class="container">
            <img src="{{url_for('static',filename='images/YourContactCard.png')}}">

        </div> -->
  
</body>
</html>