<html>

<head>

    <title>Contact Card </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">

<head>



    <body>


        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Contact Card
                    </h1>
                    <h2 class="subtitle">
                        Generate your own contact card
                    </h2>
                </div>
            </div>
        </section>

        <br></br>

        <section>
            <div class="container">
                <h1 class="title is-4"> Please enter your bio URL : </h1>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="field">
                    <div class="control">
                        <form method=POST action='/display'>
                            <input class="input is-primary" type="text" placeholder="Enter Url" name="n">
                            <br></br>
                            <button class="button is-light" name="submit">Generate</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>


        <section>
                <footer class="footer">
                        <div class="content has-text-centered">
                          <p>
                             @biraj094.github.io
                           </p>
                        </div>
                      </footer>
        </section>





    </body>

</html>